body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top:50px;
  }

  h5{

    border-radius: 0.25em;
    text-align: center; 
    color: white;
    font-weight: bold;
    padding: 0.5em;
    background-color: #81d8d0;
    width: 1100px;
    margin: auto;
    height: 60px;
    font-family: 'Quicksand', sans-serif;

  }

  .button-style{
    background: #22c1c3;
    font-family: 'Quicksand', sans-serif;
    border: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #22c1c3;;
    border-color: #22c1c3; /*set the color you want here*/
    font-family: 'Quicksand', sans-serif;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #00b3db; /*set the color you want here*/
    font-family: 'Quicksand', sans-serif;
}
  